.topbar{
    font-style: none;
    background-color: rgb(9, 133, 211);
    padding: 12px;
    overflow: hidden;
}
.topbar a{
    float: left;
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.topbar a:hover {
    color: black;
}
body{
    background-image: url(assets/Image/bg.jpg);
    background-color: #f1f1f1;
}