body{
    margin: 0;
    padding: 0;
    background: url() no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Times New Roman', Times, sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 100;
}
.box h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
/*ul{
    margin:0;
    padding:0;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 350ms;
}
.box li a:hover{
    color: gray;
}